*{
    margin: 0;padding: 0;box-sizing: border-box;
}
:root{
    --colorbase : rgb(255, 136, 0);
}
body{
    font-family: sans-serif;
}
/* ------------------------------------------- */
@font-face {
    font-family: kaushan;
    src: url(../police/KaushanScript-Regular.ttf);
}
@font-face {
    font-family: stylissa;
    src: url(../police/Stylissa.ttf);
}
@font-face {
    font-family: tenada;
    src: url(../police/Tenada.ttf);
}

/* --------------------------------------------- */
/* HEADER */
header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
}
.titre{display: flex;align-items: center;font-family: kaushan;}
.colorbase{color: var(--colorbase);}
header .fa{display: none;}

/* --------------------------------------- */
#inscrire{
    border: 2px solid var(--colorbase);
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: 900;
    color: var(--colorbase);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#inscrire:hover{
    color: white;
}
#inscrire:after{
    content: "";
    background-color: var(--colorbase);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0,1);
    transition: all 0.5s;
}
#inscrire:hover::after{
    transform: skewX(-45deg) scale(1,1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
/* ------------------------------------------------------ */
#connexion{
    border: 2px solid var(--colorbase);
    background-color: var(--colorbase);
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
#connexion:hover{
    color: var(--colorbase);
}
#connexion:after{
    content: "";
    background-color: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0,1);
    transition: all 0.5s;
}
#connexion:hover::after{
    transform: skewX(-45deg) scale(1,1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
/* ----------------------------------------- */

.container{
    background: linear-gradient(to right,#000000b9,#00000071,#ffffff00), url(../../img/background/black_and_blue_burger_95881_16x9.jpg);
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.container-card-text{
    padding:0 80px;
    text-shadow: 0 0 10px black;
}
.container h3{
    color: #ffffffbe;
}
.container h1{
    font-size: 80px;font-family: tenada;
}

/* ----------------------------------------------- */
section article{
    padding: 20px;
}
.apropos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.apropos h1{
    font-size: 50px;
    font-family: tenada;
}
.apropos p{
    font-weight: 500;
}

/* -------------------------------- */
.nosproduit{   
    background-color: #ff880050;
}
.nosproduit h1{
    text-align: center;
    padding:30px 0;
}
.produit-container{
    padding: 0 70px;
}

.burger img{
    width: 100%;
}
.burger{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
    border-radius: 20px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    margin: 15px 20px;
}
.about{
    padding:10px 20px;
    background-color: white;
}

.card-container{
    width: 350px;
    height: 300px;
    position: relative;
}
.card{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}
.card .content{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: #e8e8e8;
    text-shadow: 0 0 10px black;
    background-color:rgba(255, 136, 0, 0.445);
    padding: 20px 24px;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.card .content .heading{
    font-size: 32px;
    font-weight: 700;
}
.card:hover .content{
    opacity: 1;
    transform: translateY(0);
}


/* -------------------------------- */
.footer h1{
    text-align: center;
    font-family: tenada;
    font-size: 40px;
    padding: 13px;
}
.footer-container{
    padding:0 40px 40px 40px;
    display: flex;
    justify-content: space-between;
}
.footer-content{
    padding: 20px;
    font-weight: 600;
}
.footer-content aside{
    padding: 20px;
}
.footer-content aside span{
    padding: 7px;
    color: var(--colorbase);
}